@model Deck

<div class="row">
    <div class="col-12">
        <h1>@Model.Name</h1>
        <p>@($"Total Cards - {Model.Cards.Count}")</p>
        <a href='@Url.Action("AddNewCard","DeckDetail", new { id = Model.Id })' class="btn btn-primary">Add New Card</a>
        <a href='@Url.Action("Index","Quiz",new { id = Model.Id, currentCardId=-1 })' class="btn btn-primary">Start Quiz</a>
    </div>
</div>
<div class="row">
    <div class="col-12 pt-2">
        <h1>Cards</h1>
        @if(Model.Cards.Count==0)
        {
            <p>You don't have any cards in this deck!</p>
        }
    </div>
    <div class="col-12">
    <ul class="list-group list-group-horizontal-md">
    @foreach(Card card in Model.Cards)
    {
        <li class="list-group-item">@card.Question
            <form asp-controller="DeckDetail" asp-action="DeleteCard" asp-route-deckId="@card.DeckId" asp-route-cardId="@card.Id" method="post">
                <button type="submit" class="btn btn-link">Delete</button>
            </form>
        </li>
    }
    </ul>
    </div>
</div>